{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
<h1>Edit Product</h1>

{{ include("product/_form.html.twig") }}

<a href="{{ path('product_show', {'id': id}) }}">Back to product</a>

{% endblock %}
